body {
  background: #0a0a1a;
  color: white;
  font-family: Arial;
  text-align: center;
}

.layout {
  display: flex;
  justify-content: center;
  gap: 30px;
}

/* ELEVADOR */
.machine {
  border: 3px solid cyan;
  padding: 20px;
  box-shadow: 0 0 15px cyan;
}

#shaft {
  width: 120px;
  height: 350px;
  border: 2px solid pink;
  margin: auto;
  position: relative;
}

#elevador {
  position: absolute;
  width: 100px;
  height: 80px;
  left: 10px;
  bottom: 0;
  background: black;
  border: 2px solid pink;
  transition: bottom 1s;
}

/* PORTAS */
#porta-esq, #porta-dir {
  position: absolute;
  width: 50%;
  height: 100%;
  background: linear-gradient(180deg,#111,#000);
  border: 1px solid #ff2d78;
  transition: transform 0.6s;
}

#porta-esq {
  left: 0;
  border-right: 2px solid #ff2d78;
}

#porta-dir {
  right: 0;
  border-left: 2px solid #ff2d78;
}

.aberta #porta-esq { transform: translateX(-100%); }
.aberta #porta-dir { transform: translateX(100%); }

/* GATO */
#gato {
  display: none;
  position: absolute;
  bottom: 10px;
  width: 100%;
  font-size: 30px;
}

/* LOG */
#log {
  height: 200px;
  overflow: auto;
  font-family: monospace;
  color: #39ff14;
}

/* PILHA */
#pilha {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 5px;
}

.item {
  width: 50px;
  padding: 5px;
  background: #ff2d78;
  box-shadow: 0 0 10px #ff2d78;
}